<div id="footer-top">
  <div class="center">
    <div class="botnav">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">오시는길</a></li>
        <li><a href="#">개인정보처리지침</a></li>
        <li><a href="#">이메일무단수집거부</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="center">
    <img src="/img/bg.png" />
    <div>
      <p>
        <span>본사 </span>경상북도 경주시 천북면 천북산단로 70 Tel.054-743-5538
        Fax.054-743-5536
      </p>
      <p>COPYRIGHT (C) GNTECH. ALL RIGHTS RESERVED</p>
    </div>
  </div>
</div>
